*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(bob.jpg);
    background-size: cover;
    background-position: center;
}
.section2{
	width: 100%;
	min-height: 100vh;
	background-color: #ffffff;
}
.container2{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section2{
	float: left;
	width: 55%;
}
.image-section2{
	float: right;
	width: 35%;
}
.image-section2 img{
	width: 120%;
	height: auto;
}
.content-section2 .title2{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section2 .content2 h3{
	margin-top: 20px;
	color:#ff0000;
	font-size: 21px;
    text-align: justify;
    font: bold;
}
.content-section2 .content2 p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
    text-align: justify;
}
.content-section2 .content2 .button2{
	margin-top: 30px;
}
.content-section2 .content2 .button2 a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section2 .content2 .button2 a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section2 .social2{
	margin: 40px 40px;
}
.content-section2 .social2 i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section2 .social2 i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
    .container2{
        width: 80%;
        display: block;
        margin:auto;
        padding-top:50px;
    }
    .content-section2{
        float:none;
        width:100%;
        display: block;
        margin:auto;
    }
    .image-section2{
        float:none;
        width:100%;
        
    }
    .image-section2 img{
        width: 100%;
        height: auto;
        display: block;
        margin:auto;
    }
    .content-section2 .title2{
        text-align: center;
        font-size: 19px;
    }
    .content-section2 .content2 .button2{
        text-align: center;
    }
    .content-section2 .content2 .button2 a{
        padding:9px 30px;
    }
    .content-section2 .social2{
        text-align: center;
    }
    }
    .navbar{
        width: 85%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar ul li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    
    }
    .navbar ul li a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }
    .navbar ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background: #009648;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    
    }
    .navbar ul li:hover::after{
        width: 100%;
    
    }    
    .logo{
        width: 120px;
        cursor: pointer;
    }
    .card img {
        height:15em;
        width: 100%;
    }
    
    .container9{
	width: 80%;
	padding-top: 25px;
    }
    .inner{

        overflow: hidden;

    }

    .inner img{

        transition: all 1.5s ease;
    }

    .inner:hover img{

        transform: scale(1.5);
    }

    .service{
        height: 1%;
        width: 100%;
        padding: 100px 0px;
      
        
    }

    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
    }
   
    .card2{
        height: 365px;
        width: 365px;
        padding: 20px 35px;
        background: #fff;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        text-align: center;
    }

    .card2 i{

        font-size: 50px;
        display: block;
        text-align: center;
        margin: 25px 0px;
        color: #f9004d;

    }

    h5{
        color: #000;
        font-size: 23px;
        margin-bottom: 15px;

    }

    .pra p{
        color: #000;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 25px;
        text-align: justify;

    }

    .card2 .button{

        background-color: #f9004d;
        color: #000;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 9px 30px;
        border-radius: 30px;
        transition: .4s;
    }
    .card2 .button:hover{

        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;

    }

   